.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background-color: #f4f7f6;
}

.dashboard-content {
    margin-left: 260px; /* Doit être égal à la largeur de la sidebar */
    flex: 1;
    padding: 40px;
}

.edit-btn{
    background: #94a3b8;
    border: none;
    border-radius: 17px;
    padding: 15px 25px;
    transition: all 0.2s ease-in-out;
}

/* Effet au survol */
.edit-btn:hover {
    background-color: #334155;
    color: #f1f5f9;
}

.profile-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    margin-top: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}