/* index.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Important : oblige le body à prendre toute la hauteur */
}

#root {
  /* C'est ici que la magie opère pour React */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Toute la hauteur de l'écran */
}

main {
  flex: 1; /* Dit au contenu principal de "pousser" le footer vers le bas */
}
